body{
    background: url("https://raw.githubusercontent.com/PeterVuyk/AliPerOngeluk/master/src/OrderingBundle/Resources/public/img/harbor.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-content {
    background-color: white;
    opacity: 0.95;
    border-radius: 10px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 80%;
}

.submit-form {
    margin-top: 15%;
}

.img-position {
    margin-top: 15%;
}

.panic-order-button {
    box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
    cursor: pointer;
    background-color: #c0392b;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 80px;
    transform: translateX(-50%);
}
.panic-order-button::before {
    content: url("https://raw.githubusercontent.com/PeterVuyk/AliPerOngeluk/master/src/OrderingBundle/Resources/public/img/mouse-click.png");
    z-index: 1;
    border-radius: 50%;
    background-color: #e74c3c;
    position: absolute;
    bottom: 100%;
    left: 0%;
    transition: bottom 0.4s;
    width: 480px;
    height: 80px;
}
.panic-order-button::after {
    content: '';
    background-color: #c0392b;
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 480px;
    height: 80px;
    transition: height 0.4s;
}
.panic-order-button:active::before {
    bottom: 10%;
}
.panic-order-button:active::after {
    height: 10%;
}
